<div class="container-fluid">
    <nav class="navbar navbar-expand navbar-light bg-primary d-flex justify-content-between">
      <div class="navbar-brand mb-0 h1 text-white">Memorandums - YAVIRAC</div>
    </nav>
    <form #memoForm="ngForm">
      <div class="row">
        <div class="col-md-8">
          <div class="shadow-sm card">
            <div class="card-body">
              <h4 class="card-title d-flex">
                Para:
              </h4>
              <input type="text" class="form-control" [(ngModel)]="memo.para" 
              name="para" #Para="ngModel" required placeholder="Nombre"
              >
            </div>
            <div class="card-body">
              <h4 class="card-title d-flex">
                        placeholder="Desarrollo del documento" ></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="shadow-sm card action-buttons">
          <button (click)="memoForm.valid ? generatePdf('open') : ''"
            class="btn btn-primary d-flex align-items-center justify-content-center">
            <i class="material-icons">
              picture_as_pdf
            </i> <span>Mostrar PDF</span></button>
          <button (click)="memoForm.valid ? generatePdf('download') : ''"
            class="btn btn-primary d-flex align-items-center justify-content-center">
            <i class="material-icons">
              cloud_download
            </i><span>Descargar PDF</span></button>
          <button (click)="memoForm.valid ? generatePdf('print') : ''"
            class="btn btn-primary d-flex align-items-center justify-content-center">
            <i class="material-icons">
              print
            </i><span>Imprimir PDF</span></button>
          <button type='reset' (click)="resetForm()"
            class="btn btn-primary d-flex align-items-center justify-content-center">
            <i class="material-icons">
              clear
            </i><span>Limpiar</span></button>
        </div>
      </div>
    </div>
  </form>
</div>