.row{
    padding: 10px;
}
.card{
    margin: 10px;
}
.material-icons{
    font-size: 30px;
}
button span{
    font-size: 22px;
}
.action-buttons button{
    margin : 5px;
<<<<<<< HEAD
}
=======
<<<<<<< HEAD
}
=======
}
>>>>>>> 5c2f9c5d12195cb0498c7c0d337f6a618a339f6f
>>>>>>> 6e05be222768b5e8fc47ba880202965338b06f89
